<!DOCTYPE html>
<html>
  <head>
    <title>QA Release Wiki</title>
    <style type="text/css">
      label {
        display: block;
        float: left;
        width: 16ex;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
